@font-face {
    font-family: roboto;
    src: url("font/Roboto-Regular.ttf");
}

@font-face {
    font-family: open-sans;
    src: url("font/OpenSans.ttf")
}


* {
    margin: 0;
    box-sizing: border-box;
    font-family: open-sans;
}

body {
    background-color: $background;
}


.container {
    max-width: 1200px;
    margin: auto;
}

h1,
h2,
h3 {
    font-family: $title-font;
}


h1 {
    @include title;
}

h2 {
    @include subtitle;
}


p {
    @include text;
}

main {
    margin: 2rem 1.5rem;
    /*Mobile version atleast lol*/
}

.line-break {
    border-top: 1px solid #c5c5c5;
    color: #333;
}

/*desktop version - made on behalf of recommendation on smaller screens such as phones and smaller tablets*/
@media only screen and (min-width: 700px) {
    main {
        margin: 4rem 2rem;
    }

    #fundamentals {
        .wrapper {
            display: grid;
            grid-template-columns: 50% 50%;

        }

    }
}