@font-face {
    font-family: roboto;
    src: url("roboto/Roboto-Regular.ttf");
}

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: $background;
}


.container {
    max-width: 1200px;
}

h1,
h2,
h3 {
    font-family: roboto;
}