@font-face {
    font-family: roboto;
    src: url("font/Roboto-Regular.tff");
}


/*header*/
$gradient-banner: linear-gradient(to bottom right, rgba(79, 152, 246, 1), rgba(242, 209, 94, 1));
/*body*/
$background: #f4f4f4;