/*content */
@font-face {
  font-family: roboto;
  src: url("font/Roboto-Regular.ttf");
}
@font-face {
  font-family: open-sans;
  src: url("font/OpenSans.ttf");
}
/*header*/
/*body*/
/*Text variables and mixins*/
@font-face {
  font-family: roboto;
  src: url("font/Roboto-Regular.ttf");
}
@font-face {
  font-family: open-sans;
  src: url("font/OpenSans.ttf");
}
* {
  margin: 0;
  box-sizing: border-box;
  font-family: open-sans;
}

body {
  background-color: #f4f4f4;
}

.container {
  max-width: 1200px;
}

h1,
h2,
h3 {
  font-family: roboto;
}

h1 {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

h2 {
  font-size: 1.6;
  font-weight: 400;
  margin-bottom: 0.5rem;
  margin-top: 1.5rem;
}

p {
  font-family: open-sans;
  font-size: 1rem;
  line-height: 26px;
  color: black;
  text-align: left;
  word-break: balance;
  /*Golden ratio rule (xx * 1.618) */
}

main {
  margin: 2rem 1.5rem;
  /*Mobile version atleast lol*/
}

.line-break {
  border-top: 1px solid #c5c5c5;
  color: #333;
}

/*desktop version - made on behalf of recommendation on smaller screens such as phones and smaller tablets*/
@media only screen and (min-width: 700px) {
  main {
    margin: 4rem 2rem;
  }
  #fundamentals .wrapper {
    display: grid;
    grid-template-columns: 50% 50%;
  }
}
/*-------------Accordian-----------------*/
.accordion {
  max-width: 50vw;
  margin: 0 auto;
}

.accordion-item {
  border-top: 1px solid #c5c5c5;
  color: #333;
}

.accordion-item h3 {
  padding: 1rem 0;
  margin: 0;
  cursor: pointer;
}

.accordion-content {
  max-height: 0;
  /* Set a default max-height, but don't display it */
  overflow: hidden;
  /* Hide the content */
  transition: max-height 0.4s ease-out;
  /* Add a transition effect when sliding down (and up) the content */
  padding: 0 0;
}

.accordion-content p {
  padding: 0;
  margin: 0;
  /*FIX THIS*/
}

/* Add this class to .accordion-content when the accordion item is active/open */
.accordion-content.active {
  max-height: auto;
  /* Adjust as needed */
}

/*adding the + and - signs*/
.accordion-item h3 {
  position: relative;
  padding-right: 30px;
  /* Adjust as needed */
}

.accordion-item h3::before {
  content: "+";
  position: absolute;
  right: 10px;
  /* Adjust as needed */
}

.accordion-item.active h3::before {
  content: "-";
}

.accordion {
  max-width: 100vw;
  margin: 0 auto;
}

/* Media query for larger screens */
@media screen and (min-width: 768px) {
  .accordion {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
  .accordion-item {
    border-bottom: none;
  }
}
* {
  margin: 0;
  box-sizing: border-box;
}

.header {
  background-image: linear-gradient(to bottom right, rgb(79, 152, 246), rgb(242, 209, 94));
  box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.1);
  width: 100%;
  z-index: 3;
}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
}

.header li a {
  display: block;
  padding: 20px 20px;
  text-decoration: none;
}

.header li a:hover,
.header .menu-btn:hover {
  font-weight: bolder;
}

.header .logo {
  display: block;
  float: left;
  font-size: 2em;
  padding: 10px 20px;
  text-decoration: none;
}

/* menu */
.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height 0.2s ease-out;
}

/* menu icon */
.header .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 28px 20px;
  position: relative;
  -moz-user-select: none;
       user-select: none;
  -webkit-user-select: none;
}

.header .menu-icon .navicon {
  background: black;
  display: block;
  height: 2px;
  position: relative;
  transition: 0.2s ease-out;
  width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: black;
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 5px;
}

.header .menu-icon .navicon:after {
  top: -5px;
}

/* menu btn */
.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  max-height: 240px;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

/* 48em = 768px */
@media only screen and (max-width: 700px) {
  .header ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    background-color: #f4f4f4;
  }
}
@media only screen and (min-width: 700px) {
  .header ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
  }
  .header li {
    float: left;
  }
  .header li a {
    padding: 20px 30px;
  }
  .header .menu {
    display: flex;
    justify-content: flex-end;
    max-height: none;
  }
  .header .menu-icon {
    display: none;
  }
}
#fundamentals h1 {
  font-size: 1.6rem;
  font-weight: 400;
  color: black;
  margin: 0;
  margin-top: 1.5rem;
}
#fundamentals .sub-title {
  font-size: 1.4rem;
  font-weight: lighter;
  color: rgba(0, 0, 0, 0.75);
  margin-top: 0;
  margin-bottom: 1rem;
}
#fundamentals h3 {
  font-size: 1.2rem;
  font-weight: lighter;
}
#fundamentals h4 {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  font-size: 1rem;
  font-weight: 600;
}
#fundamentals .list-content li {
  list-style: circle;
}

/*play-now-button*/
.arrow-link {
  display: flex;
  color: black;
  background-color: transparent;
  text-transform: uppercase;
  transition: all 0.3s ease;
  font-weight: bold;
  cursor: pointer;
  align-items: center;
  letter-spacing: 1px;
  font-size: 14px;
}

.arrow-link > .arrow {
  width: 10px;
  height: 10px;
  border-right: 2px solid black;
  border-bottom: 2px solid black;
  position: relative;
  transform: rotate(-45deg);
  margin-left: 3px;
  transition: all 0.3s ease;
}

.arrow-link > .arrow::before {
  display: block;
  background-color: rgb(79, 152, 246);
  width: 3px;
  transform-origin: bottom right;
  height: 2px;
  position: absolute;
  opacity: 0;
  bottom: -1px;
  transform: rotate(45deg);
  transition: all 0.3s ease;
  content: "";
  right: 0;
}

.arrow-link:hover > .arrow {
  transform: rotate(-45deg) translate(4px, 4px);
  border-color: rgb(79, 152, 246);
}

.arrow-link:hover > .arrow::before {
  opacity: 1;
  width: 10px;
}

.arrow-link:hover {
  color: rgb(79, 152, 246);
}

/*desktop version - made on behalf of recommendation on smaller screens such as phones and smaller tablets*//*# sourceMappingURL=index.css.map */