/*content */


@import 'scss/variables';
@import 'scss/standard';
@import 'scss/accordion';
@import 'scss/header';



#fundamentals {
    h1 {
        @include accordin-title;
    }

    .sub-title {
        @include accordin-subtitle;
    }

    h3 {
        @include accordin-btn;
    }

    h4 {
        @include accordin-h4;
    }

    .list-content li {
        list-style: circle;
    }

}



/*play-now-button*/
.arrow-link {
    display: flex;
    color: black;
    background-color: transparent;
    text-transform: uppercase;
    transition: all .3s ease;
    font-weight: bold;
    cursor: pointer;
    align-items: center;
    letter-spacing: 1px;
    font-size: 14px;
    margin-top: 1.5rem;
    text-decoration: none;
}

.arrow-link>.arrow {
    width: 10px;
    height: 10px;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    position: relative;
    transform: rotate(-45deg);
    margin-left: 3px;
    transition: all .3s ease;
}

.arrow-link>.arrow::before {
    display: block;
    background-color: $main-color;
    width: 3px;
    transform-origin: bottom right;
    height: 2px;
    position: absolute;
    opacity: 0;
    bottom: calc(-2px / 2);
    transform: rotate(45deg);
    transition: all .3s ease;
    content: "";
    right: 0;
}

.arrow-link:hover>.arrow {
    transform: rotate(-45deg) translate(4px, 4px);
    border-color: $main-color;
}

.arrow-link:hover>.arrow::before {
    opacity: 1;
    width: 10px;
}

.arrow-link:hover {
    color: $main-color;
}


/*desktop version - made on behalf of recommendation on smaller screens such as phones and smaller tablets*/
@media only screen and (min-width: 700px) {}