/*content */


@import 'scss/variables';
@import 'scss/standard';
@import 'scss/header';



@font-face {
    font-family: roboto;
    src: url("font/Roboto-Regular.ttf");
}

@font-face {
    font-family: open-sans;
    src: url("font/OpenSans.ttf")
}


h1 {
    size: 2rem;
    font-weight: 800;

}

h2 {
    size: 1.8rem;
    font-weight: 400;
}

h3 {
    size: 1.4rem;
    font-weight: lighter;
}

p {
    size: 14px;
    font-family: open-sans;
    line-height: 23px;
    /*Golden ratio rule (xx * 1.618) */
}

main {
    margin: 2rem 2rem;
    /*Ændre hvis container*/
}




/*Mobile version - made on behalf of recommendation on smaller screens such as phones and smaller tablets*/
@media only screen and (max-width: 700px) {}